# Python & Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Large Datasets & Annotations Cache
ultralytics/dataset/
labels.cache
*.cache

# Large Model Weights (>100MB limit on GitHub)
*.pt
*.pth
*.onnx

# Large Processed Data Arrays
*.npy

# Operating System
.DS_Store
Thumbs.db
